// homePage
#homeMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-image: url(../images/chain1.png);
    // background-size: cover;
}

#homeContent {
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: green;
    // background-image: url(../images/chain1.png);
    // background-size: 2000px;

    h1 {
        font-size: 32px;
        padding: 20px 0 0 0;

        a {
            display: block;
            padding: 15px;
            margin: 0 0 15px 0;
            box-shadow: 3px 3px #a0a0a0, -3px -3px #a0a0a0, 5px 5px 0 #c5c5c5, -5px -5px #c5c5c5;
            background-color: #00afab;
            text-decoration: none;
            transition: 0.6s;
        }

        a:hover {
            box-shadow: 3px 3px #008785, -3px -3px #008785, 5px 5px 0 #00afab, -5px -5px #00afab;
        }
    }

    p {
        width: 50%;
        width: 80%;
        width: min(80%, 1000px);
        text-align: center;
        font-size: 20px;
        line-height: 26px;
        padding: 0 0 15px 0;
        // text-shadow: 0 0 100px #121212;
        // background-color: red;
        // background-image: linear-gradient(to bottom, #c5c5c5, #121212);
        // box-shadow: 5px 5px 10px #121212;
    }

    img {
        // width: 90%;
        // width: 50%;
        width: 80%;
        width: min(80%, 1000px);
        margin: 25px 0;
        // border: 2px solid #c5c5c5;
        box-shadow: 3px 3px #a0a0a0, -3px -3px #a0a0a0, 5px 5px 0 #c5c5c5, -5px -5px #c5c5c5;
    }

    a {
        text-align: center;
        color: #ffffff;
    }

    a:hover {
        text-decoration: none;
    }
}

#ig_embed {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

@media screen and (max-width: 800px) {
    #homeContent {
        width: 100%;
    }
}